svg > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > rect:nth-child(1) {
    fill: red;
}
svg > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > rect:nth-child(2) {
    fill: violet;
}
svg > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > rect:nth-child(3) {
    fill: blue;
}
svg > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > rect:nth-child(4) {
    fill: yellow;
}
svg > g:nth-child(3) > g:nth-child(2) > g:nth-child(2) > rect:nth-child(5) {
    fill: green;
}