@{
    ViewBag.Title = "Home Page";
}
<p>
    Hello @User.Identity.Name
</p>
<div class="jumbotron">
    <h1>CCPS Poker Board</h1>
    <p class="lead">Create a new room for quoting</p>
    <p><a href="/home/newroom" class="btn btn-primary btn-lg">New Room &raquo;</a></p>
</div>
